<!DOCTYPE html>
<head>
    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
<h1>TEST ToastUI</h1>
<div id="editor"></div>
<button onclick="seeHtml()">html보기</button>
<button onclick="seeMd()">markdown보기</button>
<form name = "testform" method="post" onsubmit="return submitFunc()" >
<input  type="hidden" name="editorHtml">
    <button>전송</button>
</form>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const Editor = toastui.Editor;

    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical'
    });

    seeHtml = function(){
        alert(editor.getHTML());
    }
    seeMd = function(){
        alert(editor.getMarkdown());
    }

    submitFunc = function(){
        console.log(editor.getHTML())
        let frm = document.testform
        if(typeof frm === "undefined") return false;
        console.log(editor.getHTML())
        frm.editorHtml.value = editor.getHTML();


    }


</script>
</body>